.dispute-form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0.5rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 8px rgb(0 0 0 / 25%);
}

.dispute-header{
    text-align: center;
    color: #21A038; 
}

.nav-tabs .nav-link{
    text-align: left;
    padding: 0px 0px;
    color:#00000080;
    height: 35px;
    border: none;
    margin: 0;
    padding: 0;
    min-width: 40%;
    max-width: 50%
}
.nav-tabs .nav-link:hover {
    border: none;
    color: #212529;
    margin: 0 !important;
    padding: 0 !important;
    height: 35px;
}

.nav-tabs .nav-link:focus {
    border: none;
    color: #212529;
    margin: 0 !important;
    padding: 0 !important;
    height: 35px;
}

.nav-tabs .nav-link.active{
    text-align: left !important;
    color: black !important;
    border: none !important;
}

.nav-tabs {
    border: none !important;
}


.active{
    text-align: left !important;
    padding: 8px 0px;
}

.disputetext.active{
    text-align: left;
    border-bottom: 2px solid #21A038;
    width: fit-content;
}
.disputetext{
    width: fit-content; 
    padding-top: 8px;
}

.dispute{
    height: 100px;
    background-color:lightsteelblue;
}

.dispute > p{
    font-size: 16px;
    text-align: center;
}