.sberlogo{
    width: 100%;
    height: 50px; /* height of container */
    object-fit: cover;
    object-position: 50% 50%;
}

.logo-container.navbar-brand {
    padding: 0
}

@media only screen and (max-width:768px) {
    .sberlogo {
        width: 100%;
    }
    .navbar-brand{
        width: 60%;
    }
  }