.shipment-description{
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid black;
}

.shipment-description-text {
    overflow: hidden;
    min-height: 100px;
    padding: 0.4rem;
    margin-bottom: 2rem auto;
    margin-left: 100px;
    width: 100%
}

.shipment-description-text > * {
    margin: 4px;
    margin-left: 0px;
}

.shipment-description-number {
    font-weight: 700;
}

.shipment-button.btn.btn-primary {
    background: #21a038;
    color: white;
    border: none;
}
    .disabled{
        background: #00971c;
    }