.tracking_area {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    margin: 1.5rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}


.shipment-input{
    margin-bottom: 0;
}

.tracking-message{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width:768px) {
    .tracking_area {
        box-shadow: none;
    }
}

