.tracking_area {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    margin: 1.5rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}


.shipment-input{
    margin-bottom: 0;
}

