.sber-id-button-sms {
    border: dimgray;
    background: dimgray;
}

.shipment-button.btn.btn-primary {
    background: #21a038;
    color: white;
    border: none;
}
    .disabled{
        background: #00971c;
    }