.settings-form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0.5rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 8px rgb(0 0 0 / 25%);
}

.settings-header{
    text-align: center;
    color: #21A038; 
}

.submit-button.btn.btn-primary{
    margin: 4px 4px 4px 0px;
    background: #21A038;
}